body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7,
.pimg8,
.pimg9,
.pimg10,
.pimg11,
.pimg12,
.pimg13,
.pimg14,
.pimg15,
.pimg25 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../img/14.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../img/17.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../img/4.jpg");
  min-height: 400px;
}

.pimg4 {
  background-image: url("../img/16.jpg");
  min-height: 400px;
}

.pimg5 {
  background-image: url("../img/5.jpg");
  min-height: 400px;
}

.pimg6 {
  background-image: url("../img/6.jpg");
  min-height: 400px;
}

.pimg7 {
  background-image: url("../img/7.jpg");
  min-height: 400px;
}

.pimg8 {
  background-image: url("../img/8.jpg");
  min-height: 400px;
}

.pimg9 {
  background-image: url("../img/9.jpg");
  min-height: 400px;
}

.pimg10 {
  background-image: url("../img/10.jpg");
  min-height: 400px;
}

.pimg11 {
  background-image: url("../img/11.jpg");
  min-height: 400px;
}

.pimg12 {
  background-image: url("../img/12.jpg");
  min-height: 400px;
}

.pimg13 {
  background-image: url("../img/13.jpg");
  min-height: 400px;
}

.pimg14 {
  background-image: url("../img/14.jpg");
  min-height: 400px;
}

.pimg15 {
  background-image: url("../img/15.jpg");
  min-height: 400px;
}

.pimg25 {
  background-image: url("../img/a\ \(1\).jpg");
  min-height: 100%;
}

.pimg14 {
  background-image: url("../img/1.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 100px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border .trans {
  background-color: transparent;
}

.leo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4,
  .pimg5,
  .pimg6,
  .pimg7,
  .pimg8,
  .pimg9,
  .pimg10,
  .pimg11,
  .pimg12,
  .pimg13,
  .pimg14,
  .pimg15,
  .pimg25 {
    background-attachment: scroll;
  }

  .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 13px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  .leo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
  }
}
